Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [76]:
df

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0            1.5         3  ...                 0                    0
1            1.0         2  ...                 0                    0
2            1.0         1  ...                 0                    0
3            1.0         1  ...                 0                    0
4            1.0         4  ...                 0                    0
...          ...       ...  ...               ...                  ...
49347        1.0         2  ...                 0                    0
49348        1.0         1  ...                 0                    1
49349        1.0         1  ...                 0                    0
49350        1.0         0  ...                 0                    0
49351        1.0         2  ...                 0                    0

[48817 rows x 34 columns]

In [0]:
import pandas as pd

In [0]:
df['created']=pd.to_datetime(df['created'])

In [79]:
df['created'].dt.month

0        6
1        6
2        4
3        4
4        4
        ..
49347    6
49348    4
49349    4
49350    4
49351    4
Name: created, Length: 48817, dtype: int64

In [80]:
train=df[df['created'].dt.month<6]
train

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
2            1.0         1  ...                 0                    0
3            1.0         1  ...                 0                    0
4            1.0         4  ...                 0                    0
5            2.0         4  ...                 0                    0
6            1.0         2  ...                 0                    0
...          ...       ...  ...               ...                  ...
49346        1.0         1  ...                 0                    0
49348        1.0         1  ...                 0                    1
49349        1.0         1  ...                 0                    0
49350        1.0         0  ...                 0                    0
49351        1.0         2  ...                 0                    0

[31844 rows x 34 columns]

In [81]:
test=df[df['created'].dt.month ==6]
test

       bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0            1.5         3  ...                 0                    0
1            1.0         2  ...                 0                    0
11           1.0         1  ...                 0                    0
14           1.0         1  ...                 0                    0
24           2.0         4  ...                 0                    0
...          ...       ...  ...               ...                  ...
49305        1.0         2  ...                 0                    0
49310        1.0         3  ...                 0                    0
49320        1.0         1  ...                 0                    0
49332        1.0         2  ...                 0                    0
49347        1.0         2  ...                 0                    0

[16973 rows x 34 columns]

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [0]:
model= LinearRegression()

In [84]:
features=['bathrooms','bedrooms','latitude','longitude']
print(f'Linear Regression, dependent on:{features}')
X_train= train[features]
X_test= test[features]

Linear Regression, dependent on:['bathrooms', 'bedrooms', 'latitude', 'longitude']

In [0]:
target ='price'
y_train = train[target]
y_test= test[target]

In [86]:
model.fit(X_train,y_train)
y_pred= model.predict(X_train)
mae=mean_absolute_error(y_train,y_pred)
mse=mean_squared_error(y_train,y_pred)
rmse=np.sqrt(mse)
r2= r2_score(y_train,y_pred)
print(f'Train Error: {mae:.2f} percentage points')
print('Root Mean Squared Error:', rmse)
print('R^2:', r2)

Train Error: 739.18 percentage points
Root Mean Squared Error: 1146.1715544741912
R^2: 0.576909084202146

In [87]:
y_pred=model.predict(X_test)
mae=mean_absolute_error(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)
r2= r2_score(y_test,y_pred)
print(f'Test Error: {mae:.2f} percentage points')
print('Root Mean Squared Error:', rmse)
print('R^2:', r2)

Test Error: 744.98 percentage points
Root Mean Squared Error: 1131.1950868928673
R^2: 0.5882903576478155

In [88]:
model.intercept_,model.coef_

(-1283306.4906902895,
 array([  2002.79660997,    428.45152883,   1863.91519176, -16328.42647587]))

In [89]:
print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(coefficients.to_string())

Intercept -1283306.4906902895
bathrooms     2002.796610
bedrooms       428.451529
latitude      1863.915192
longitude   -16328.426476